# Default ignored files
/shelf/
/workspace.xml

# Gradle files
.gradle/
build/
*/build/

# Local configuration files (SDK paths, etc.)
local.properties

# Log and crash files
*.log

# IntelliJ and Android Studio project files
.idea/
*.iml

# Keystore files
*.jks
*.keystore

# External native build folders
.externalNativeBuild/

# Misc
.cxx/
*.apk
*.ap_
*.db
*.db-journal

# Google Services
google-services.json
fabric.properties

# Testing
# test-output/

# MacOS stuff
.DS_Store

# Windows stuff
Thumbs.db

# Kotlin specific (if using kapt for annotation processing)
kapt/
